
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ program.title }}</h1>
    <h3>Saison {{ season.number }}</h3>
    <h4>Episode {{ episode.number }} : {{ episode.title }}</h4>
    <p>Résumé :</p>
    <p>{{ episode.synopsis }}</p>
    <a href="/wild/season/{{ season.id }}"><button class="btn btn-secondary">Retour vers la saison</button></a>
    <a href="/wild/show/{{ program.slug }}" class="btnReturn"><button class="btn btn-secondary">Retour vers la série</button></a>
{% endblock %}